{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "es2021": true
  },
  "extends": ["react-app", "plugin:react/recommended", "airbnb", "eslint:recommended", "plugin:prettier/recommended"],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true
    },
    "ecmaVersion": 12
  },
  "plugins": ["prettier", "react", "react-hooks"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "no-param-reassign": 0,

    "react/prop-types": 1,
    "react/require-default-props": 0,
    "react/no-array-index-key": 0,
    "react/jsx-props-no-spreading": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-no-bind": 0,

    "react-hooks/exhaustive-deps": 0,

    "import/order": 0,
    "no-console": 0,
    "no-alert": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "prefer-destructuring": 0,
    "no-shadow": 0,
    "no-unused-vars": [
      1,
      {
        "ignoreRestSiblings": false
      }
    ],
    "prettier/prettier": 0 //prettier 에 대한 경고 끄기
  }
}
